fichero {
    font-size: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lavender;
}

ficha {
    background-color: lightblue;
    display: block;
}

nombre {
    color: black;
    display: inline;
}

apellido {
    color: yellow;
    display: inline;
}

direccion {
    color: yellow;
    font-size: 1cm;
    display: none;
}

telefono {
    color: lightslategray;
}

correo {
    color: red;
}

url {
    color: brown;
}